<%= render 'shared/errors', obj: @post %>

<section class='container'>
  <%= form_with(model: @post, local: true, html: { autocomplete: 'off', class: 'd-lg-flex flex-lg-column justify-content-center align-items-center' }) do |f| %>
    <div class='form-group w-100'>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group w-100'>
      <%= f.label :url, 'URL' %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class='form-group w-100'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, class: 'form-control' %>
    </div>
    <div class='form-group w-100 mt-2'>
      <%= f.label "Categories:" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |cb| %>
        <% cb.label(class: 'checkbox inline mx-2') {cb.check_box(class: 'checkbox mr-1') + cb.text.capitalize} %>
      <% end %>
    <div>
    <%= f.submit(options={class: "btn btn-outline-primary mt-3"}) %>
  <% end %>
</section>